<h1>Search results for: {{ term.term }}</h1>
{% extends 'index.html' %}

{% block navigation %}
 {{ super() }}
{% endblock %}

{% block main_content %}
<a href="{{ url_for('index')}}">New search</a>


<h3>Click on link to view songs in playlist!</h3>
<ul>
{% for playlist in playlists %}
  <li>
    <h4><a href="http://localhost:5000/playlist_songs/{{playlist.title}}">{{ playlist.title }}</a> <br>Reviews - {{ playlist.reviews }}</h4><br>
    <iframe src={{ playlist.pictureURL }} width="150" height="150" frameBorder="0" ></iframe>
  </li>
  <br>
{% endfor %}
</ul>

{% if not playlists %}
There are no saved playlists to show.
{% endif %}

<div>
{% for message in get_flashed_messages() %}
<strong>*** {{ message }} ***</strong>
{% endfor %}
</div>

{% endblock %}
